{%- assign langs = site.data.lang -%}
{%- assign vtt-metadata=site.data.[include.vtt-data-location].vtt | where: "name", include.vtt-name | first -%}
<div class="video-container" data-video-type="" dir="ltr">
    <video preload="metadata" data-youtube-id="{{include.yt-id}}" data-youtube-nocookie="true" data-description-audible="false" width="450">
        {%- if vtt-metadata.captions -%}
        {%- for caption in vtt-metadata.captions -%}
        {%- if include.lang-folder -%}
        {%- assign lang-folder=caption | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[caption].nativeName -%}
        <track src="{{ include.path | append: lang-folder | append: include.vtt-name | append: '.' | append: caption | append: '.vtt' | relative_url }}" label="{{l}}" kind="captions" srclang="{{caption}}" {% if caption == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.subtitles -%}
        {%- for subtitle in vtt-metadata.subtitles -%}
        {%- if include.lang-folder -%}
        {%- assign lang-folder=subtitle | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[subtitle].nativeName -%}
        <track src="{{ include.path | append: lang-folder | append: include.vtt-name | append: '.' | append: subtitle | append: '.vtt' | relative_url }}" label="{{l}}" kind="subtitles" srclang="{{subtitle}}" {% if subtitle == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
    </video>
</div>
{% if include.yt-id-ad %}
<div class="video-container" data-video-type="audio-described">
    <video preload="metadata" data-youtube-id="{{include.yt-id-ad}}" data-youtube-nocookie="true" data-description-audible="false" width="450">
        {%- if vtt-metadata.captions-ad -%}
        {%- for caption in vtt-metadata.captions-ad -%}
        {%- if include.lang-folder -%}
        {%- assign lang-folder=caption | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[caption].nativeName -%}
        <track src="{{ include.path | append: lang-folder | append: include.vtt-name | append: '_ad.' | append: caption | append: '.vtt' | relative_url }}" label="{{l}}" kind="captions" srclang="{{caption}}" {% if caption == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.subtitles-ad -%}
        {%- for subtitle in vtt-metadata.subtitles-ad -%}
        {%- if include.lang-folder -%}
        {%- assign lang-folder=subtitle | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[subtitle].nativeName -%}
        <track src="{{ include.path | append: lang-folder | append: include.vtt-name | append: '_ad.' | append: subtitle | append: '.vtt' | relative_url }}" label="{{l}}" kind="subtitles" srclang="{{subtitle}}" {% if subtitle == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
        {%- if vtt-metadata.descriptions-ad -%}
        {%- for desc in vtt-metadata.descriptions-ad -%}
        {%- if include.lang-folder -%}
        {%- assign lang-folder=desc | append: "/" -%}
        {%- endif -%}
        {%- assign l = langs[desc].nativeName -%}
        <track src="{{ include.path | append: lang-folder | append: include.vtt-name | append: '_ad_desc.' | append: desc | append: '.vtt' | relative_url }}" label="{{l}}" kind="descriptions" srclang="{{desc}}" {% if desc == page.lang %}default{% endif %}>
        {%- endfor -%}
        {%- endif -%}
    </video>
</div>
<p><button id="audio_description_button"><svg aria-hidden="true" class="icon-audio-description "><use xlink:href="{{ "/assets/images/icons.svg#icon-audio-description" | relative_url }}"></use></svg> <span>Enable Audio Description</span></button></p>
{% endif %}

<script src="{{ "/assets/ableplayer/thirdparty/modernizr.custom.js" | relative_url }}"></script>
<script src="{{ "/assets/scripts/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/ableplayer/thirdparty/js.cookie.js" | relative_url }}"></script>
<script src="{{ "/assets/ableplayer/build/ableplayer.min.js" | relative_url }}"></script>
<script>
    var youTubeDataAPIKey = "{{site.ytkey}}";
    var googleApiReady = false;
    function initGoogleClientApi() {
        googleApiReady = true;
    }
</script>
<script src="//apis.google.com/js/client.js?onload=initGoogleClientApi"></script>

<script>
    (function () {
        'use strict';

        var player1 = new AblePlayer($('[data-video-type=""] video'));
        var player2 = new AblePlayer($('[data-video-type="audio-described"] video'));

        function addclass(el, className) {
            if (el.classList) {
                el.classList.add(className);
            } else {
                if(! hasclass(el, className)){
                    el.className += ' ' + className;
                }
            }
        }

        function removeclass(el, className) {
            if (el.classList) {
                el.classList.remove(className);
            } else {
                el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
            }
        }

        function hasclass(el, className) {
            if (el.classList) {
                return el.classList.contains(className);
            } else {
                return new RegExp('(^| )' + className + '( |$)', 'gi').test(el.className);
            }
        }

        var audiodescribed = document.querySelectorAll('[data-video-type="audio-described"]');

        if (audiodescribed) {

            Array.prototype.forEach.call(audiodescribed, function(el, i){
                el.setAttribute('hidden', true);
            });

            var adbutton = document.querySelector('#audio_description_button');
            adbutton.addEventListener('click', function(e){
                player1.pauseMedia();
                player2.pauseMedia();
                if (e.target.getAttribute('data-status') == "audio-described") {
                    var videos = document.querySelectorAll('.video-container');
                    Array.prototype.forEach.call(videos, function(el, i){
                        el.removeAttribute("hidden");
                    });
                    var nonaudiodescribed = document.querySelectorAll('[data-video-type="audio-described"]');
                    Array.prototype.forEach.call(nonaudiodescribed, function(el, i){
                        el.setAttribute('hidden', true);
                    });
                    e.target.setAttribute('data-status', 'non-audio-described');
                    e.target.querySelector('span').innerHTML = 'Enable Audio Description';
                } else {
                    var videos = document.querySelectorAll('.video-container');
                    Array.prototype.forEach.call(videos, function(el, i){
                        el.setAttribute('hidden', true);
                    });
                    var nonaudiodescribed = document.querySelectorAll('[data-video-type="audio-described"]');
                    Array.prototype.forEach.call(nonaudiodescribed, function(el, i){
                        el.removeAttribute("hidden");
                    });
                    e.target.setAttribute('data-status', 'audio-described');
                    e.target.querySelector('span').innerHTML = 'Disable Audio Description';
                }
            });

        }

    }());
</script>
