{% assign page-vtt=site.data.[include.module].vtt | where: "name", include.name | first %}

{% capture captions %}
    {%- if page-vtt.captions -%}
        {%- for c-lang in page-vtt.captions -%}
            {% if include.langfolder == true %}{{ c-lang }}/{% endif %}{{ include.name }}.{{ c-lang }}.vtt|{{ c-lang }}{% if c-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {%- endif -%}
{% endcapture %}

{% capture subtitles %}
    {%- if page-vtt.subtitles -%}
        {%- for s-lang in page-vtt.subtitles -%}
            {% if include.langfolder == true %}{{ s-lang }}/{% endif %}{{ include.name }}.{{ s-lang }}.vtt|{{ s-lang }}{% if s-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {%- endif -%}
{% endcapture %}

{% capture captions-ad %}
    {%- if page-vtt.captions-ad -%}
        {%- for c-ad-lang in page-vtt.captions-ad -%}
            {% if include.langfolder == true %}{{ c-ad-lang }}/{% endif %}{{ include.name }}_ad.{{ c-ad-lang }}.vtt|{{ c-ad-lang }}{% if c-ad-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {% endif %}
{%- endcapture -%}

{%- capture subtitles-ad -%}
    {% if page-vtt.subtitles-ad -%}
        {%- for s-ad-lang in page-vtt.subtitles-ad -%}
            {% if include.langfolder == true %}{{ s-ad-lang }}/{% endif %}{{ include.name }}_ad.{{ s-ad-lang }}.vtt|{{ s-ad-lang }}{% if s-ad-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {% endif %}
{%- endcapture -%}

{% capture descriptions- %}
    {%- if page-vtt.descriptions -%}
        {%- for d-lang in page-vtt.descriptions -%}
            {% if include.langfolder == true %}{{ d-lang }}/{% endif %}{{ include.name }}_ad_desc.{{ d-lang }}.vtt|{{ d-lang }}{% if d-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {%- endif -%}
{% endcapture %}

{% capture descriptions-ad %}
    {%- if page-vtt.descriptions-ad -%}
        {%- for d-ad-lang in page-vtt.descriptions-ad -%}
            {% if include.langfolder == true %}{{ d-ad-lang }}/{% endif %}{{ include.name }}_ad_desc.{{ d-ad-lang }}.vtt|{{ d-ad-lang }}{% if d-ad-lang == include.l %}|default{% endif %}{% if forloop.last == false %},{% endif %}
        {%- endfor -%}
    {%- endif -%}
{% endcapture %}



